@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: Kufam, system-ui, sans-serif;
    height: 100%;
  }

  body, [data-js="root"], main {
    height: 100%;
  }
}

